<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="kVK4n2UxORHkEt0uBIOV7HvBKH20dyDSZz6lkbSU90M" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/light.css">
  <style>
    .bac {
      display: flex !important;
      align-items: center;
    }

    .custom-popover {
      --bs-popover-max-width: 200px;
      --bs-popover-border-color: var(--bd-violet-bg);
      --bs-popover-header-bg: var(--bd-violet-bg);
      --bs-popover-header-color: var(--bs-white);
      --bs-popover-body-padding-x: 1rem;
      --bs-popover-body-padding-y: .5rem;
    }

    
    @keyframes fadeIn {
            from {
                opacity: 0;
                /* Elemento invisible al principio */
                transform: translateX(100px);
                /* Puede ajustarse según la dirección deseada */
            }

            to {
                opacity: 1;
                /* Elemento completamente visible al final */
                transform: translateX(0);
                /* Sin transformación al final */
            }
        }

        /* Aplica la animación al elemento */
        .fade {
            animation: fadeIn 0.3s ease-out forwards;
            /* Nombre de la animación, duración, y función de temporización */
        }
  </style>
  <title>Bienvenido</title>
</head>

<body>
  <% if(!id) {%>
    <h1>ha ocurrido un error con la sessión</h1>
    <a href="/auth">Volver a iniciar sesion</a>
    <% } else{ %>
      <% if(rol=="Administrador" ){ %>
        <div class="container">
          <br>
          <div class="bac">
            <a href="/dashboard?id=<%= id %>"><ion-icon name="arrow-round-back" class="btn-dark"
                size="large"></ion-icon></a>
          </div>
          <br>
          <center>
            <h1 class="display-4">Cuestionario</h1>
            <hr>
          </center>
          <br><br>
          <div class="alert alert-dark" role="alert">
            <h5>Estado de cuestionario</h5>
            <form action="/dashboard/tareas?id=<%= id %>" method="POST">
              <label for="estado">Estado de cuestionarios:</label>
              <input type="number" name="estado">
              <button type="submit" class="btn btn-dark">Cambiar</button>
            </form>
          </div>
          <div class="alert alert-dark" role="alert">
            <form action="/dashboard/tareas?id=<%= id %>" method="POST">
              <h5>Añade el cuetionario</h5>
              <br>
              <label for="idp">id:</label>
              <input type="number" name="idp" class="form-control">
              <br>
              <label for="preg">Pregunta:</label>
              <input type="text" name="preg" class="form-control">
              <br>
              <label for="op1">Opcion 1:</label>
              <input type="text" name="op1" class="form-control">
              <br>
              <label for="op2">Opcion 2:</label>
              <input type="text" name="op2" class="form-control">
              <br>
              <label for="op3">Opcion 3:</label>
              <input type="text" name="op3" class="form-control">
              <br>
              <label for="op4">Opcion 4:</label>
              <input type="text" name="op4" class="form-control">
              <br>
              <label for="repTrue">Respuesta:</label>
              <input type="text" name="repTrue" class="form-control">
              <br>
              <label for="cuestPoints">Puntos</label>
              <input type="number" name="cuestPoints" class="form-control">
              <br><br>
              <button type="submit" class="btn btn-dark">Publicar</button>
            </form>
          </div>
        </div>
        <% } else { %>
          <div class="container fade">
            <br>
            <div class="bac">
              <a href="/dashboard?id=<%= id %>"><ion-icon name="arrow-round-back" class="btn-dark"
                  size="large"></ion-icon></a>
            </div>
            <br>
            <center>
              <h1 class="display-4">Sistema de rangos</h1>
              <hr>
            </center>
            <br><br>
            <div class="alert alert-dark" role="alert">
              <center>
                <span><b>Rangos</b></span>
              </center>
            </div>
            <div class="alert alert-dark" role="alert">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Novato [0 - 1000]
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <b>Rango: Novato</b>
                      <ul>
                        <li>
                          <b>Puntos necesarios:</b> De 0 a 1000 puntos.
                        </li>
                        <li>
                          <b>Tareas a completar:</b>
                          Realizar dos cuestionarios cada semana.
                        </li>
                        <li>
                          <b>Fechas:</b> Martes y Jueves.
                        </li>
                      </ul>
                      <b>Descripción:</b>
                      Los Novatos son aquellos que están dando sus primeros pasos en la comunidad o la aplicación. Su
                      viaje recién comienza y tienen la oportunidad de avanzar a través de la realización constante de
                      tareas. Este rango es el punto de partida, y no ofrecen ventajas particulares en la aplicación o
                      la clase. Se anima a los Novatos a completar sus cuestionarios semanales y a explorar todo lo que
                      la comunidad o la aplicación tienen para ofrecer, ya que esto les permitirá ganar puntos y avanzar
                      a rangos superiores.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Receptor de Luz [1000 - 2000]
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <b>Rango:</b> Receptor de Luz
                      <ul>
                        <li>
                          <b>Puntos necesarios:</b> De 1000 a 2000 puntos.
                        </li>
                        <li>
                          <b>Tareas a completar:</b>
                          <ul>
                            <li>
                              Asistir a los servicios de la iglesia externos a la clase.
                              Por cada asistencia, recibir un código que otorgará una cantidad específica de puntos.
                            </li>
                            <li>
                              Realizar un cuestionario cada sábado.
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <b>Descripción:</b>
                      Los Receptores de Luz han progresado más allá de ser Novatos y han comenzado a sumergirse en el
                      conocimiento y la participación activa. Tienen el deber de asistir a los servicios de la iglesia
                      que se llevan a cabo fuera de la clase. Por cada asistencia, reciben un código especial que al ser
                      canjeado, otorgará una cantidad específica de puntos, incentivando su participación en estas
                      actividades.

                      Además de asistir a los servicios, se les solicita completar un cuestionario los sábados. Esta
                      tarea está diseñada para ayudarles a fortalecer su comprensión y conocimiento sobre la fe, con un
                      enfoque especial en el conocimiento de Jesús y su mensaje.

                      Estos miembros tienen el papel crucial de acercarse más a la fe y el aprendizaje espiritual a
                      través de la asistencia regular y el compromiso con los cuestionarios semanales. <b>Próximamente, se
                        revelarán ventajas especiales para este rango.</b>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Explorador del Saber [2000 - 3000]
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <b>Proxímamente</b>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Sembrador de Fe [3000 - 4000]
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <b>Proxímamente</b>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Mensajero de la Verdad [4000 - 5000]
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <b>Proxímamente</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
            <% } %>
              <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
                integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
                crossorigin="anonymous"></script>
</body>

</html>