<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="kVK4n2UxORHkEt0uBIOV7HvBKH20dyDSZz6lkbSU90M" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/light.css">
    <title>User</title>
  </head>

  <body>
    <div class="container">
        <br>
      <a href="/dashboard?id=<%= id %>"><ion-icon name="arrow-round-back" class="btn-dark" size="large"></ion-icon></a>
      <center>
          <h1 class="display-4">Registrar</h1>
          <hr>
      </center>
      <br /><br />
      <div class="alert alert-dark" role="alert">
        <form action="/users?id=<%= id %>" method="POST">
          <label for="id">Telefono:</label>
          <input type="number" name="phone" class="form-control"/>
          <br />
          <label for="password">Contraseña:</label>
          <input type="password" name="password" class="form-control" />
          <br />
          <label for="name">Nombre:</label>
          <input type="text" name="name" class="form-control"/>
          <br>
            <label for="sexo">Selecciona tu sexo:</label>
            <br>
              <select class="form-control" name="sexo" id="sexo">
                <option value="man">Hombre</option>
                <option value="woman">Mujer</option>
              </select>
              <br><br>
          <center>
            <button type="submit" class="btn btn-dark">Registrar</button>
          </center>
          <br>
        </form>
      </div>
    </div>
    <% if(agree) { %>
    <p><%= agree %></p>
    <% } %> <% if(agree) { %>
    <a href="/users?id=<%= id %>">limpiar</a>
    <% } %>
    <br />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
